<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间mapper,如果有多个mapper文件，这个必须唯一 -->
<mapper namespace="com.example.dao.AutoTestCaseDao">

    <select id="selectByCaseName" parameterType="string" resultType="com.example.pojo.AutoTestCase">
        select * from auto_test_case where case_name=#{caseName};
    </select>

    <insert id="addAutoTestCase" parameterType="com.example.pojo.AutoTestCase">
       INSERT INTO auto_test_case
       (case_name, host,port, uri, method, heads,param_type,param, state,actual_result, creat_time, update_time)
        VALUES
       (#{caseName},#{host},#{port}, #{uri}, #{method}, #{heads}, #{paramType},#{param}, #{state}, #{actualResult},now(), now());
    </insert>

    <update id="updateAutoTestCase" parameterType="com.example.pojo.AutoTestCase">
        update auto_test_case set state=#{state} where case_name=#{caseName};
    </update>

<update id="updateCaseInfo" parameterType="com.example.pojo.AutoTestCase">

    update auto_test_case
    <set >
        <if test="id != null and ''!=id" >
            id = #{id},
        </if>
        <if test="caseName != null and ''!=caseName" >
            case_name = #{caseName},
        </if>
        <if test="host != null and ''!=host" >
            host = #{host},
        </if>
        <if test="port != null and ''!=port" >
            port = #{port},
        </if>
        <if test="uri != null and ''!=uri" >
            uri = #{uri},
        </if>
        <if test="method != null and ''!=method" >
            method = #{method},
        </if>
        <if test="heads != null and ''!=heads" >
            heads = #{heads},
        </if>
        <if test="paramType != null and ''!=paramType" >
            param_type = #{paramType},
        </if>
        <if test="param != null and ''!=param" >
            param = #{param},
        </if>
        <if test="state != null and ''!=state" >
            state = #{state},
        </if>
        <if test="actualResult != null and ''!=actualResult" >
            actual_result = #{actualResult},
        </if>
        <if test="creatTime != null and ''!=creatTime" >
            creat_time = #{creatTime},
        </if>
        <if test="updateTime != null" >
            update_time = now(),
        </if>
    </set>
    where case_name = #{caseName}

</update>

    <select id="getAllAutoTestCase" resultType="com.example.pojo.AutoTestCase">
         select * from auto_test_case;
    </select>


</mapper>